/* Text defaults */
body {
  font-family:"Serif";
}
h1 {
  font-size:300%;
}

/* Other stuff */

#linea {
  height:5px;
  background-color:black;
}
#lineb {
  height:4px;
  background-color:#707070; // Dark grey
}
#linec {
  height:4px;
  background-color:#B8B8B8; // Light grey
}
#links {
  position:absolute;
  top:2px;
  left: 200px;
}
#band{
  margin-bottom:0px;
  padding-bottom:0px;
}
#main_container {
  padding-top:0px;
  margin-top:0px;
  width:900px;
}
#words {
  float:left;
  width:170px;
}
#body {
  float:left;
}
#logout{
  margin-top:3em;
  float:left;
}
#send_on {
  float:left;
  margin-left: 10px;
}
#text_area {
  float:left;
}
#submit_button {
  float:left;
  clear:both;
}
#word_cloud {
}
#footer {
  float:left;
  clear:both;
  height:4em;
}
