/* Text defaults */
body {
  font-family:"Serif";
}
h1 {
  font-size:300%;
}
p {
  text-indent:1em;
}

/* Other stuff */

#linea {
  display:none;
}
#lineb {
  display:none;
}
#linec {
  display:none;
}
#links {
  display:none;
}
#band{
  margin-bottom:0px;
  padding-bottom:0px;
}
#main_container {
  padding-top:0px;
  margin-top:0px;
  width:900px;
}
#words {
  float:left;
  width:170px;
}
#body {
  width:700px;
  float:left;
}
#logout{
  margin-top:3em;
  float:left;
}
#send_on {
  float:left;
  margin-left: 10px;
  font-size:small;
}
#text_area {
  float:left;
}
#date_feedback {
  float:left;
  width: 95px;
  margin-top:10px;
  margin-left:10px;
  font-size:small;
}
#submit_button {
  float:left;
  clear:both;
}
#quote{
  position:absolute;
  width:220px;
  top: 45px;
  right:30px;
  float:left;
  font-size:small;
}
#logout_button {
  float:left;
  clear:left;
  margin-left:210px;
  margin-top:4em;
}
#footer {
  float:left;
  clear:both;
  height:4em;
}
